

# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

#pool:
#  vmImage: 'ubuntu-latest'

#container: ubuntu:16.04

# pool:
#   vmImage: 'ubuntu-16.04'

# container: ubuntu:16.04

pool:
  vmImage: 'windows-2019'

container: mcr.microsoft.com/windows/servercore:ltsc2019

steps:
# - script: printenv
- script: echo Hello, world!
  displayName: 'Run a one-line script'

- script: |
    echo Add other tasks to build, test, and deploy your project.
    echo See https://aka.ms/yaml
  displayName: 'Run a multi-line script'

# Starter pipeline
- task: ApplicationSecurity@1
  inputs:
    AppSecTestService: 'prod account'
    applications: '2433ac8c-4059-e811-9423-002590ac753d'
    scanname: 'quan1scan'
    scantype: 'static'
- task: NuGetCommand@2
  inputs:
    command: 'restore'
    restoreSolution: '**/*.sln'
    feedsToUse: 'select'